<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <targets>
    <target name="debugger" xsi:type="Debugger" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target xsi:type="ApplicationInsightsTarget" name="aiTarget" />
    <target xsi:type="ColoredConsole"
            name="String"
            encoding="Encoding"
            layout="Layout"
            header="Layout"
            footer="Layout"
            useDefaultRowHighlightingRules="Boolean"
            errorStream="Boolean"
            detectConsoleAvailable="Boolean">
      <highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum"/><!-- repeated -->
      <highlight-word backgroundColor="Enum" foregroundColor="Enum" ignoreCase="Boolean" 
                      regex="String" text="String" wholeWords="Boolean" compileRegex="Boolean"/><!-- repeated -->
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="aiTarget" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Debug" writeTo="ColoredConsole" />
  </rules>
</nlog>